<div id="elixir-radar" class="widget">
  <h3 class="widget-title">Elixir Radar новостная рассылка</h3>
  <p>Еженедельная новостная рассылка об Elixir.</p>
  <div class="elixir-radar-cta">
    <div class="cta-copy">
      <div class="cta-title">
        Elixir Radar
      </div>
      <div class="cta-subtitle">
        Еженедельная рассылка
      </div>
    </div>
    <div class="cta-button-container">
      <a href="http://plataformatec.com.br/elixir-radar/weekly-newsletter?utm_campaign=elixir_lang_cta&utm_medium=cta&utm_source=elixir_lang_website" class="cta-button">
        Подписатся
      </a>
    </div>
  </div>
</div>
